@media screen and (max-width:1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
  section {
    margin: 0 1rem;
    padding: 1rem 1rem;
  }

  .section_pic-container,
  .about-pic {
    width: 100%;
    height: auto;
  }

  .projects-row {
    flex-direction: column;
    align-items: center;
  }

  .btn-container {
    flex-direction: column;
    gap: 0.5rem;
  }

  .arrow {
    right: 1rem;
    bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  section {
    margin: 0 1rem;
    padding: 1rem 1rem;
  }

  .project-img, .about-pic {
    width: 100%;
    height: auto;
  }

  .section_pic-container {
    width: 100%;
    justify-content: center;
  }
}
